<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iteye.weimingtom.ebdmod"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="auto"
    >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SherlockAppTheme" >
        
        
        <!-- mupdf -->
        <activity
            android:name="org.mupdfdemo2.activity.ChoosePDFActivity"
            android:process=":mupdf"
            >
            <!-- 
            android:theme="@android:style/Theme.Light"
             -->
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--  -->
        </activity>
        <activity
            android:name="org.mupdfdemo2.activity.MuPDFActivity"
            android:exported="false"
            android:label="阅读器"
            android:process=":mupdf"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <!-- 
            android:configChanges="orientation|keyboardHidden"
             -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/vnd.ms-xpsdocument" />
                <data android:mimeType="application/xps" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.xps" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <service 
            android:name="org.mupdfdemo2.activity.MuPDFRestartService"
            android:process=":mupdf"
            ></service>
        <activity
            android:name="org.mupdfdemo2.activity.OutlineActivity"
            android:label="大纲"
            android:process=":mupdf" 
            />
    </application>

</manifest>
